<section class='flex flex-col gap-2'>
  <h2 class='text-2xl font-bold mb-2'>About Me</h2>
  <p class='text-sm'>
    Hi, I'm a former professional musician who discovered a new passion for
    programming.
  </p>
  <p class='text-sm'>
    I specialize in transforming beautiful Figma designs into accessible and
    semantically rich web components.
  </p>
  <p class='text-sm'>
    Learning new things is something I strive for. And I enjoy the process of
    becoming better me every single day.
  </p>
  <p class='text-sm'>
    Outside of work, I enjoy traveling around the world, learning new ~human~
    languages and eating delicious foods 😋
  </p>
  <a
    href='#'
    class='text-sm font-bold underline w-fit text-orange'
    >Download my resume in PDF</a
  >
</section>
