---
import CS50Image from '../assets/images/CS50x.png';
import H2 from './ui/H2.astro';
import Link from './ui/Link.astro';
import Text from './ui/Text.astro';
---

<section class='flex flex-col gap-2'>
  <H2>Experience</H2>
  <Text>
    I have 4 years of experience as a front-end developer with some backend
    expertise.
  </Text>
  <div class='md:flex gap-2 items-center'>
    <Text>Completed CS50 course by Harvard</Text>
    <Link href='/CS50x.png'>
      <img
        src={CS50Image.src}
        alt='CS50x Certificate, Awarded from Cambridge, Massachusetts in the year 2023'
        loading='lazy'
        class='object-cover border opacity-90 hover:opacity-100'
        title='Open high resolution image of this certificate in a new tab.'
      />
    </Link>
  </div>
</section>
