---
import H2 from './ui/H2.astro';
import Link from './ui/Link.astro';
import Text from './ui/Text.astro';
---

<section class='flex flex-col gap-2'>
  <H2>Experience</H2>
  <Text>
    I have 4 years of experience as a front-end developer with some backend
    expertise.
  </Text>
  <Text>
    Completed CS50 course by Harvard (
    <Link href='/CS50x.png'>certificate</Link> )
  </Text>
</section>
