<section class='flex flex-col gap-4 items-center mb-8'>
  <h1 class='text-5xl font-bold'>Nikita Ekern</h1>
  <p class='font-bold text-xs'>
    Front-end Developer | Creative Thinker | Human
  </p>
  <div class='flex gap-6'>
    <div class='w-[40px] h-[40px] bg-orange'></div>
    <div class='w-[40px] h-[40px] bg-orange'></div>
    <div class='w-[40px] h-[40px] bg-orange'></div>
  </div>
</section>
