---
import H1 from './ui/H1.astro';
---

<section class='flex flex-col gap-4 items-center mb-8'>
  <H1 class='text-5xl md:text-7xl font-bold'>Nikita Ekern</H1>

  <p class='font-bold text-xs md:text-lg'>
    Front-end Developer | Creative Thinker | Human
  </p>

  <div class='flex gap-6'>
    <div class='w-[40px] h-[40px] bg-orange'></div>
    <div class='w-[40px] h-[40px] bg-orange'></div>
    <div class='w-[40px] h-[40px] bg-orange'></div>
  </div>
</section>
