---
import ProjectCard from './ProjectCard.astro';
import { projects } from './projects';
import H2 from './ui/H2.astro';
---

<section class='flex flex-col gap-2'>
  <H2>Projects</H2>

  {projects.map((project) => <ProjectCard {...project} />)}
</section>
