---
import heartteamThumbnail from '../assets/images/heartteam.png';
---

<section class='flex flex-col gap-2'>
  <h2 class='text-2xl font-bold mb-2'>Projects</h2>
  <div class='w-full h-auto aspect-video bg-orange rounded-lg'>
    <img
      src={heartteamThumbnail.src}
      alt=''
      class='object-cover'
    />
  </div>
  <a
    href='https://heartteamspb.com'
    class='font-bold'
    target='_blank'
    >heartteamspb.com</a
  >
  <p>Website for cardiology clinic.</p>
</section>
