---
import TechCard from './TechCard.astro';
import { techStack } from './techStack';
import H2 from './ui/H2.astro';
import Text from './ui/Text.astro';
---

<section class='flex flex-col gap-2'>
  <H2>Tech Stack</H2>
  <Text>
    I'm always open to learn new technologies. Here is tech that I'm very
    confident in and use in my projects day to day.
  </Text>

  <section class='grid grid-cols-2 md:grid-cols-3 gap-5 mt-2'>
    {
      techStack.map((stack) => (
        <TechCard
          title={stack.title}
          techList={stack.techList}
        />
      ))
    }
  </section>
</section>
