---
import H3 from './ui/H3.astro';
import Text from './ui/Text.astro';

const { title, techList } = Astro.props;
---

<div class='bg-egg p-4 flex flex-col gap-0 border-border shadow-sm'>
  <H3>{title}</H3>

  {techList.map((tech: string) => <Text>{tech}</Text>)}
</div>
