---
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <title>Nikita Ekern | Front-end Developer & Creative Thinker</title>
    <meta
      name='description'
      content='Skilled front-end developer specializing in React, Next.js, and accessible web design. Discover my expertise in transforming Figma designs into functional web components, see my works, and explore my tech stack'
    />
    <meta
      name='keywords'
      content='Nikita Ekern, Front-end Developer, React Developer, Next.js, Web Development Portfolio, Accessible Design, Figma to Code, JavaScript Developer, Tailwind CSS, State Management, Tech Stack, Developer Resume, Creative Thinker.'
    />
    <script
      defer
      src='https://umami.ekernik.dev/script.js'
      data-website-id='79362559-73c0-4e9a-9915-ace5873c3b36'
    ></script>
  </head>
  <body class='font-serif scroll-smooth'>
    <slot />
    <Footer />
  </body>
</html>
